.container {
    padding: 0;
}
.post-title {
    font-family: 'Crimson Text', serif;
    font-size: 3rem;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 60px;
    position: absolute;
    z-index: 3;
}
a:link, a:visited {
    text-decoration: none;
    color: white;
}

.featured-image {
    /*position: absolute;*/
    margin-top: 15%;
    width: 100%;
    margin-left: 15%;
    position: absolute;
    z-index: 3;
}

.post {
    background-color: pink;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.newspaper {
    position: absolute;
    z-index: -1;
    margin-left: -40%;
    height: auto; 
    width: auto; 
    max-width: 1000px; 
    max-height: 1000px;
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    opacity: 0.5;
    
}
.color-king {
    background-color: #906972; 
}

.color-dobbs {
    background-color: #CEA9B0; 
}

.color-hamilton {
    background-color: #CF826E; 
}

.color-henderson {
    background-color: #B9DCE0; 
}

.color-lowery {
    background-color: #886085; 
}

