{{ partial "meta.html" . }}
<body>
	<section class="container-fluid detail-header {{ .Params.color }}">
		<div class="row justify-content-start">
			<a class="col home-button" href="{{ .Site.Permalinks.home }}" >
				{{ .Site.Title }}
			</a>
		</div>
		<div class="row justify-content-between">
			<div class="col">
				<h3 id="{{ .Params.id }}" class="detail-title">
					<a href="{{ .Permalink }}">
						{{ .Title }}
					</a>
					<div class="detail-subtitle">
						{{ .Params.subtitle }}
					</div>
				</h3>
			</div>
			<div clas="col detail-images">
				{{ if isset .Params "image" }}
				<a href="{{ .Permalink }}">
					<img src="{{ .Params.clip }}" class="img-fluid newspaper">
					<img src="{{ .Params.image }}" class="img-fluid detail-portrait">
				</a>
				{{ else }}
				<p>
					(No image)
				</p>
				{{ end }}
			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<div class="col-12">
				<div class="detail-content">
						{{ .Content }}
				</div>
			</div>
		</div>
	</section>
</body>
</html>