{{ partial "meta.html" . }}
<body>
  <div class="container">
    <div class="header clearfix">
      <h1 class="text-muted">Of Historic Note</h1>
    </div>

    <div class="jumbotron">
      <p class="lead">
        {{ .Content }}
      </p>
    </div>
    {{- range .Data.Pages.ByWeight -}}
    <section class="post">
      <div class="featured-image">
        {{ if isset .Params "image" }}
        <img src="{{ .Params.image }}">
        {{ else }}
        <p>(No image)</p>
        {{ end }}
      </div>
      <h3 id="{{ .Params.id }}" class="post-title">
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </h3>
    </section>
    {{- end -}}
    <footer class="footer">
      <p>&copy; Company 2017</p>
    </footer>
  </div>
</body>
</html>